# TACC Minio server
TACC_S3_ALIAS=sd2e
TACC_S3_KEY=DURBJTT0KHK4U
TACC_S3_SECRET=tCJH91hNiGOFus1zzG8QGUh/hbcDMD1Yx1
TACC_S3_REGION=us-east-1
TACC_S3_URI=s3-data-upload.sd2e.org:9001
TACC_S3_API=S3v4
TACC_S3_BUCKET=test
TACC_S3_PROTO=https
TACC_S3_USE_HTTPS=True
TACC_S3_IGNORE_CERT=
